body {
    background: #FAFAFA;
}

nav {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    background: #FFFFFF;
    margin-bottom: 34px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-line {
    height: 22px;
    width: 1px;
    margin: 0 10px;
    background-color: #DBDBDB;
}

.nav-logo ion-icon {
    font-size: 19px;
}

.logo {
    width: 103px;
    height: 29px;
    padding-top: 3px;
}

.mobile-only {
    display: none;
}

.input {
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.nav-icons {
    font-size: 20px;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 88px;
}

.stories {
    width: 614px;
    height: 118px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

.stories > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow:scroll;
    box-sizing: border-box;
}

.stories div::-webkit-scrollbar {
    display: none;
}

.stories ion-icon {
    color: #FFFFFF;
    font-size: 26px;
    position: absolute;
    right: 8px;
    top: 46px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.story:first-child {
    margin-left: 18px;
}

.story:last-child {
    margin-right: 18px;
}

.story {
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story div {
    width: 66px;
    height: 66px;
    position: relative;
    margin-bottom: 1px;
}

.story div img:first-child {
    border-radius: 50%;
    width: 66px;
}

.story div img:last-child {
    border-radius: 50%;
    width: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.story p {
    width: 58px;
    height: 19px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.feed {
    width: 614px;
}
.post {
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.post ion-icon {
    font-size: 18px;
}

.post_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.post_profile div {
    display: flex;
    align-items: center;
    height: 61px;
}

.post_profile div img {
    margin-right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post_profile div h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #262626;
}

.post_content {
    width: 100%;
    height: 612px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    box-sizing: border-box;
}

.post_interaction {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}

.post_interaction div ion-icon:nth-child(2) {
    margin: 0 14px;
}

.post_who-liked {
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 17px;
}

.post_who-liked img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post_who-liked p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;

    color: #000000;
}

.post_who-liked p strong {
    font-weight: 700;
}

.side-bar_fixed {
    width: 293px;
    margin-left: 29px;
}

.side-bar {
    width: 293px;
    height: fit-content;
    position: fixed;
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    height: 103px;
}


.profile img {
    border-radius: 50%;
    width: 56px;
}

.profile_name {
    margin-left: 17px;
}

.profile_name h1,
.suggestion_profile div h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    margin-bottom: 4px;
}

.profile_name h2,
.suggestions h1,
.suggestion_profile div h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.suggestions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.suggestions h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.suggestion_profile {
    display: flex;
    align-items: center;
}

.suggestion_profile img {
    border-radius: 50%;
    width: 32px;
}

.suggestion_profile div {
    margin-left: 11px;
}

.suggestion:last-child {
    margin-bottom: 33px;
}

.suggestion h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

.suggestion_profile div h3 {
    font-weight: 500;

}

.side-bar p {
    width: 99%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #C7C7C7;
    margin-bottom: 18px;
}


@media (max-width: 935px) {
    .side-bar_fixed {
        display: none;;
    }

    nav {
        justify-content: space-between;
        padding: 0 16px;
        box-sizing: border-box;
    }
}

@media (max-width: 614px) {
   
    .input {
        display: none;
    }

    .nav-icons {
        display: none;
    }

    .vertical-line {
        display: none;
    }

    .mobile-only {
        display: initial;
    }

    .nav-logo {
        width: 100vw;
        justify-content: space-between;
    }

    main {
        padding-top: 54px;
    }
    
    .stories {
        width: 100vw;
        border: none;
        background: none;
        margin-bottom: 0;
    }

    .stories ion-icon {
        display: none;
    }

    .feed {
        width: 100vw;
    }

    .post_content {
        height: fit-content;
    }





}